---
kolla_base_distro: "ubuntu"
kolla_install_type: "binary"
openstack_release: "train"
kolla_internal_vip_address: "10.0.0.20"
docker_registry: "registry.cn-guangzhou.aliyuncs.com"
docker_registry_username: "aliyun3882791286"
docker_namespace: "lunwei"
network_interface: "ens33"
neutron_external_interface: "ens34"
enable_cinder: "yes"
enable_cinder_backend_lvm: "yes"
nova_compute_virt_type: "qemu"
